/* styles/global.css */
html.dark body {
  @apply bg-gray-900 text-gray-100;
}

/* Styles pour s'assurer que le contenu principal prend la hauteur disponible */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Les styles de fond et de texte de base sont gérés par Layout.astro */
  /* La transition est également gérée par Layout.astro */
}

main {
  flex-grow: 1;
}

/* Styles pour le mode sombre sur des éléments spécifiques si nécessaire */
html.dark .bg-white {
  @apply bg-gray-900;
}

html.dark .text-gray-800 {
  @apply text-gray-100;
}

html.dark .text-gray-700 {
  @apply text-gray-200;
}

html.dark .text-gray-500 {
  @apply text-gray-400;
}

html.dark .hover\:text-blue-600:hover {
  @apply hover:text-blue-400;
}

html.dark .hover\:bg-gray-200:hover {
  @apply hover:bg-gray-700;
}

html.dark .shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06), inset 0 0 0 1px rgba(255,255,255,0.05);
}